#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos para la animación del logo con 30 frames */
.logo-animation > img {
  animation: logoAnimation 3s infinite;
}

@keyframes logoAnimation {
  0%, 3.33%, 100% { opacity: 1; }
  0%, 96.66%, 100% { opacity: 0; }
}

/* Distribución de opacidad para 30 frames */
.logo-animation img:nth-child(1n) {
  animation-delay: 0s;
}

.logo-animation img:nth-child(2n) {
  animation-delay: 0.1s;
}

.logo-animation img:nth-child(3n) {
  animation-delay: 0.2s;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
